# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Folders
MDB\ShiftingLogic_ert_rtw
MDB/ShiftingLogic_ert_rtw/buildInfo.mat

MDB/ShiftingLogic_ert_rtw/codedescriptor.dmr

MDB/ShiftingLogic_ert_rtw/codeInfo.mat

MDB/ShiftingLogic_ert_rtw/compileInfo.mat

MDB/ShiftingLogic_ert_rtw/ert_main.cpp

MDB/ShiftingLogic_ert_rtw/mlEnv.txt

MDB/ShiftingLogic_ert_rtw/rtw_proj.tmw

MDB/ShiftingLogic_ert_rtw/rtwtypes.h

MDB/ShiftingLogic_ert_rtw/rtwtypeschksum.mat

MDB/ShiftingLogic_ert_rtw/setup_msvc.bat

MDB/ShiftingLogic_ert_rtw/ShiftingLogic_comp.rsp

MDB/ShiftingLogic_ert_rtw/ShiftingLogic_data.cpp

MDB/ShiftingLogic_ert_rtw/ShiftingLogic_private.h

MDB/ShiftingLogic_ert_rtw/ShiftingLogic_ref.rsp

MDB/ShiftingLogic_ert_rtw/ShiftingLogic_types.h

MDB/ShiftingLogic_ert_rtw/ShiftingLogic.bat

MDB/ShiftingLogic_ert_rtw/ShiftingLogic.cpp

MDB/ShiftingLogic_ert_rtw/ShiftingLogic.h

MDB/ShiftingLogic_ert_rtw/ShiftingLogic.mk

MDB/ShiftingLogic_ert_rtw/ShiftingLogic.rsp

MDB/ShiftingLogic_ert_rtw/tmwinternal/tr

MDB/slprj/ert/_sharedutils/shared_file.dmr

MDB/slprj/ert/ShifterLogic/tmwinternal/sinfo.mat

MDB/slprj/ert/ShiftingLogic/tmwinternal/binfo.mat

MDB/slprj/ert/ShiftingLogic/tmwinternal/BlockTraceInfo.mat

MDB/slprj/ert/ShiftingLogic/tmwinternal/CompileInfo.xml

MDB/slprj/ert/ShiftingLogic/tmwinternal/minfo.mat

MDB/slprj/ert/ShiftingLogic/tmwinternal/scv

MDB/slprj/sim/varcache/ShifterLogic/checksumOfCache.mat

MDB/slprj/sim/varcache/ShifterLogic/tmwinternal/simulink_cache.xml

MDB/slprj/sim/varcache/ShifterLogic/varInfo.mat

MDB/slprj/sl_proj.tmw

MDB/resources/project/qaw0eS1zuuY1ar9TdPn1GMfrjbQ/vFrAm9R9obE_dYoV2hfanYIZfPgd.xml

MDB/resources/project/qaw0eS1zuuY1ar9TdPn1GMfrjbQ/vFrAm9R9obE_dYoV2hfanYIZfPgp.xml

MDB/ScreenControl.slxc

MDB/slprj/sim/varcache/ScreenControl/checksumOfCache.mat

MDB/slprj/sim/varcache/ScreenControl/tmwinternal/simulink_cache.xml

MDB/slprj/sim/varcache/ScreenControl/varInfo.mat

MDB/Startup.asv

MDB/slprj/ert/ScreenControl/tmwinternal/binfo.mat

MDB/slprj/ert/ScreenControl/tmwinternal/BlockTraceInfo.mat

MDB/slprj/ert/ScreenControl/tmwinternal/CompileInfo.xml

MDB/slprj/ert/ScreenControl/tmwinternal/minfo.mat

MDB/slprj/ert/ScreenControl/tmwinternal/scv
